name: Lint

concurrency:
  group: lint-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: fmt
        run: nix develop .#ci -c cargo fmt

      - name: Lint
        run: |
          nix develop .#ci -c cargo clippy -- -Dwarnings
          nix develop .#ci -c cargo clippy --no-default-features  -- -Dwarnings
          nix develop .#ci -c cargo clippy --features=std -- -Dwarnings
          nix develop .#ci -c cargo clippy --features=merge -- -Dwarnings
          nix develop .#ci -c cargo clippy --features=option -- -Dwarnings
          nix develop .#ci -c cargo clippy --features=none_as_default -- -Dwarnings
          nix develop .#ci -c cargo clippy --features=keep_none -- -Dwarnings
          nix develop .#ci -c cargo clippy --features=nesting -- -Dwarnings
