name: Test

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - v0.9
  push:
    branches:
      - main
      - v0.9

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test no default features
        run: |
          nix develop -c cargo run --no-default-features --example instance
          nix develop -c cargo run --no-default-features --example filler
          nix develop -c cargo run --no-default-features --example diff
          nix develop -c cargo run --no-default-features --example json
          nix develop -c cargo run --no-default-features --example rename-patch-struct
          nix develop -c cargo run --no-default-features --example patch-attr
          nix develop -c cargo run --no-default-features --example time
          nix develop -c cargo test --no-default-features

      - name: Test with std features
        run: |
          nix develop -c cargo run --features=std --example instance
          nix develop -c cargo run --features=std --example filler
          nix develop -c cargo run --features=std --example diff
          nix develop -c cargo run --features=std --example json
          nix develop -c cargo run --features=std --example rename-patch-struct
          nix develop -c cargo run --features=std --example patch-attr
          nix develop -c cargo run --features=std --example option
          nix develop -c cargo test --features=std

      - name: Test with merge features
        run: |
          nix develop -c cargo run --features=option --features=merge --example option
          nix develop -c cargo run --features=merge --example op
          nix develop -c cargo test --features=merge --no-default-features
          nix develop -c cargo test --features=merge

      - name: Test with option features
        run: |
          nix develop -c cargo run --features=none_as_default --example option
          nix develop -c cargo run --features=keep_none --example option

      - name: Test with default features
        run: |
          nix develop -c cargo run --example status
          nix develop -c cargo run --example op
          nix develop -c cargo test
