name: Test

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Test instance example
        run: nix develop -c cargo run --example instance

      - name: Test json example
        run: nix develop -c cargo test --example json

      - name: Test rename patch struct example
        run: nix develop -c cargo run --example rename-patch-struct
